* {
	/*border: solid 1px black;*/
}

html {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}

::-moz-selection { /* Code for Firefox */
    background: yellow;
}

::selection {
    background: yellow;
}

body {
	width:850px;
	padding:100px 0px;
	margin:0 auto;
	font-family: "bodoni mt", Georgia serif;
}

.header {
    margin: auto;
	height: auto;
    width: 100%;
	background-color: #FFFFFF;
    padding: 0px;
	position: relative;
	z-index: 1000;
}

.title {
	margin: 0px 0px 0px 100px;
	text-align: left;
	font-style: italic;
	font-family: "bodoni mt", Georgia, Serif;
	color: #1C1C1C;
	text-decoration: none;
}
a {
	text-decoration: none;
	color: #1C1C1C;
	font-family: "bodoni mt", Georgia, Serif;
	font-style: italic;
}
.title a:hover {
	background-image: url("file:///C:/Users/ronan/Desktop/Ronan/img/solid-yellow.svg");
	background-size: 5% 100%;	
	color: #1C1C1C;
}
.menu {
    margin: auto;
    width:100%;
    position:relative;
	overflow:visible;
}
ul {
	text-align:center;	
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
}

li {
	text-align:center;
	margin: 0px 16px;
	display:inline;
	float: left;
   list-style:none;
   padding:0;
   position:relative;

}

li a, .dropbtn {
    display: inline-block;
    color: #1C1C1C;
    text-align: center;
	margin: -1px 0px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn{
    background: yellow;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
}

.dropdown-content a {
    color: #1C1C1C;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
	font-style: italic;
	font-family: "bodoni mt", Georgia, Serif;
	border: 1px solid #1C1C1C;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.mainBody {
	clear: both;
    margin: auto;
	height: 2000px;
    width: 100%;
	background-color: #FFFFFF;
	position: relative;
} 

.carousel {
    margin: 50px;
	padding: 0px;
	position: relative;
}

.mainImage {
  max-height: 365px;
  max-width: 515px;
  display:block;
    margin:auto;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 0 0;
       -moz-box-shadow: 0 0 0;
            box-shadow: 0 0 0;
}

.fancybox-skin {
    background: transparent;
    box-shadow: none !important;
}

.fancybox-nav {
    width: 60px;       
}

.fancybox-nav span {
    visibility: visible !important;
    opacity: 0.5 !important;
}

.fancybox-nav:hover span {
    opacity: 1 !important;
}

.fancybox-next {
    right: -60px !important;
}

.fancybox-prev {
    left: -60px !important;
}
