<header class="site-header">

  <div class="header">
<h1 class="title"><a href="file:///C:/Users/ronan/Desktop/Ronan/index.html">ronan_healy</a></h1>
<div class="menu">
  <ul>
    <li class="dropdown">
      <h3><a href="javascript:void(0)" class="dropbtn">work</a></h3>
      <div class="dropdown-content">
        <a href="file:///C:/Users/ronan/Desktop/Ronan/grafton.html">grafton</a>
        <a href="#">camerakit</a>
        <a href="file:///C:/Users/ronan/Desktop/Ronan/arcsoc.html">arc soc</a>
      </div>
    </li>
    <li><h3><a href="file:///C:/Users/ronan/Desktop/Ronan/index.html">about</a></h3></li>
  </ul>
</div>
</div>

</header>
